<section class="order">
  <div class="container">
    <h3 class="order__title">Закажите <span class="color--line">разработку</span> вашего сайта</h3>
    <div class="order__wrap">
      <h4 class="order__subtitle">Бриф</h4>
      <p class="order__info">Скачайте и заполните бриф, отправьте его через форму, на почту admin@gmail.com</p>
      <div class="order__btn--download">
        <a href="documents/brief_website.docx" class="button" download><span class="btn--text">Скачать бриф</span><img src="img/arr.svg" alt=""></a>
      </div>
      <h4 class="order__subtitle">Форма</h4>

      @include('../form-homepage/form-homepage.html')

    </div>
  </div>
</section>
