<section class="services">
  <div class="container">
    <h1 class="services__title">Разработка сайтов,<br>
      комплексный <span class="color--line">интернет-маркетинг</span></h1>
    @include('../service/service.html')

    <div class="service">
      <h3 class="service__title">Креативный современный дизайн</h3>
      <div class="service__content">
        <img src="img/design.png" alt="" class="service__img">
        <ul class="service__list">
          <li class="service__item"><a href="#" class="service__link">Веб-дизайн</a></li>
          <li class="service__item"><a href="#" class="service__link">Логотипы</a></li>
          <li class="service__item"><a href="#" class="service__link">Фирменный стиль</a></li>
        </ul>
      </div>
    </div>

    <div class="service">
      <h3 class="service__title">Продвижение сайтов</h3>
      <div class="service__content">
        <img src="img/seo.png" alt="" class="service__img">
        <ul class="service__list">
          <li class="service__item"><a href="#" class="service__link">SEO-продвижение</a></li>
          <li class="service__item"><a href="#" class="service__link">Таргетинг</a></li>
          <li class="service__item"><a href="#" class="service__link">Контекстная реклама</a></li>
        </ul>
      </div>
    </div>

    <div class="service">
      <h3 class="service__title">Поддержка, гарантия, сервис</h3>
      <div class="service__content">
        <img src="img/support.png" alt="" class="service__img">
        <ul class="service__list">
          <li class="service__item"><a href="#" class="service__link">Техподдержка</a></li>
          <li class="service__item"><a href="#" class="service__link">Хостинг</a></li>
          <li class="service__item"><a href="#" class="service__link">SSL-сертификаты</a></li>
          <li class="service__item"><a href="#" class="service__link">Наполнение сайтов</a></li>
        </ul>
      </div>
    </div>

  </div>
</section>
