<div class="footer-socials">
  <p class="footer-socials__item"><img src="img/facebook-icon.svg" alt="" class="footer-socials__img"><a href="#" class="footer-socials__link">Facebook</a></p>
  <p class="footer-socials__item"><img src="img/twitter-icon.svg" alt="" class="footer-socials__img"><a href="#" class="footer-socials__link">Twitter</a></p>
  <p class="footer-socials__item"><img src="img/instagram-icon.svg" alt="" class="footer-socials__img"><a href="#" class="footer-socials__link">Instagram</a></p>
  <p class="footer-socials__item"><img src="img/linkedIn-icon.svg" alt="" class="footer-socials__img"><a href="#" class="footer-socials__link">Linkedin</a></p>
</div>
