.footer-copyright {
  text-align: center;
}

.footer-copyright__text {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
}

.footer-copyright__mark {
  margin-right: 13px;
}
