<form id="form_35755" class="form-homepage" enctype="multipart/form-data" method="post">
  <div class="form-homepage__name">
    <label class="form-homepage__description" for="name">Введите ваше имя</label>
    <div>
      <input id="name" name="name" class="form-homepage__input" type="text" maxlength="255" value=""/>
    </div>
  </div>

  <div class="form-homepage__email">
    <label class="form-homepage__description" for="email">Введите E-mail</label>
    <div>
      <input id="email" name="email" class="form-homepage__input" type="text" maxlength="255" value=""/>
    </div>
  </div>

  <div class="form-homepage__message">
    <label class="form-homepage__description" for="message">Введите сообщение</label>
    <div>
      <textarea id="message" name="message" class="form-homepage__textarea"></textarea>
    </div>
  </div>

  <div class="form-homepage__file">
    <label class="form-homepage__description--file" for="file"><a href="/" class="button"><span class="btn--text btn--text-18px">Выберите файл</span><img src="img/arr.svg" alt=""></a></label>
    <div>
      <input id="file" name="file" class="form-homepage__file--input" type="file"/>
    </div>
  </div>

  <div class="form-homepage__politics">
    <div>
      <input id="check" name="check" class="form-homepage__checkbox" type="checkbox" value="1" />
      <label class="form-homepage__description--choice" for="check">Отправляя данную форму я соглашаюсь с <a class="color--line" href="#">политикой конфиденциальности</a> сайта</label>
    </div>
  </div>

  <div class="form-homepage__submit">
    <label class="form-homepage__description--submit" for="saveForm"><a href="/" class="button"><span class="btn--text">Отправить форму</span><img src="img/arr.svg" alt=""></a></label>
    <input type="hidden" name="form_id" value="35755" />
    <input id="saveForm" class="form-homepage__btn" type="submit" name="submit" value="Отправить форму" />
  </div>
</form>
