<div class="service">
  <h3 class="service__title">Разработка сайтов разных типов</h3>
  <div class="service__content">
    <img src="img/develop.png" alt="" class="service__img">
    <ul class="service__list">
      <li class="service__item"><a href="#" class="service__link">Лендинг</a></li>
      <li class="service__item"><a href="#" class="service__link">Интернет магазин</a></li>
      <li class="service__item"><a href="#" class="service__link">Сайт визитка</a></li>
      <li class="service__item"><a href="#" class="service__link">Корпоративний сайт</a></li>
      <li class="service__item"><a href="#" class="service__link">Уникальній сайт</a></li>
    </ul>
  </div>
</div>
