<section class="advantages">
  <div class="container">
    <div class="advantages__wrap">
      <h2 class="advantages__title"><span class="color--line">Заказывая у нас</span> сайт, вы получаете:</h2>
      <div class="advantages__content">
        <ul class="advantages__list">
          <li class="advantages__item">уникальный и красивый дизайн;</li>
          <li class="advantages__item">наполнение базовой информацией (контакты, о компании, услуги - до 10 страниц);</li>
          <li class="advantages__item">продуманную до мелочей структуру сайта</li>
          <li class="advantages__item">удобно расположенные элементы навигации по сайту;</li>
          <li class="advantages__item">инструменты обратной связи (форма заказа, заказ звонка);</li>
          <li class="advantages__item">размещенный на сервере, настроенный и доступный в интернете ресурс</li>
        </ul>
        <p class="advantages__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui quam varius scelerisque amet rutrum ultrices blandit cras vestibulum. In eget nibh amet tortor magna quis quam tristique quam. Faucibus dui nullam sollicitudin adipiscing. Etiam viverra scelerisque purus elementum, netus.
        </p>
        @include('../advantages-card/advantages-card.html')

        <div class="advantages-card">
          <h4 class="advantages-card__title">Сайт-визитка</h4>
          <p class="advantages-card__text">Срок реализации  6 недель</p>
          <p class="advantages-card__price color--line">от  40 000 грн.</p>
        </div>

        <div class="advantages-card">
          <h4 class="advantages-card__title">Интернет-магазин</h4>
          <p class="advantages-card__text">Срок реализации  от 3 месяцев</p>
          <p class="advantages-card__price color--line">от 140 000 грн.</p>
        </div>

        <div class="advantages-card">
          <h4 class="advantages-card__title">Портал</h4>
          <p class="advantages-card__text">Срок реализации  от 6 месяцев</p>
          <p class="advantages-card__price color--line">от 240 000 грн.</p>
        </div>

        <div class="advantages-card">
          <h4 class="advantages-card__title">Продвижение</h4>
          <p class="advantages-card__text">Ежемесячно</p>
          <p class="advantages-card__price color--line">от  10 000 грн.</p>
        </div>

        <div class="advantages-card">
          <h4 class="advantages-card__title">Приложение</h4>
          <p class="advantages-card__text">По договоренности</p>
          <p class="advantages-card__price color--line">Индивидуально</p>
        </div>

        <div class="advantages__btn">
          <a href="/" class="button"><span class="btn--text-header">Рассчитать стоимость сайта</span><img src="img/arr-header.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
