<section class="complex">
  <div class="container">
    <div class="complex__wrap">
      <img src="img/complex-img.png" alt="" class="complex__img">
      <h2 class="complex__title">Комплексный <span class="color--line">подход</span></h2>
      <div class="complex__text">
        <p>
          15-летний опыт в разработке дает нам возможность создавать сайты всех видов и любой сложности от сайта-визитки до мощного многофункционального портала.
        </p>
        <p>
          Основанные на самых популярных и отлично себя зарекомендовавших CMS разработанные нами сайты легки и удобны в пользовании. Все наши клиенты получают профессиональную консультацию и помощь в выборе подходящего варианта.
        </p>
        <p>
          Предлагая полный цикл услуг от разработки бизнес-идеи и до введения сайта мы гарантируем отличное качество выполненных работ и рассчитываем на долгосрочное сотрудничество
        </p>
      </div>
      <div class="complex__btn">
        <a href="/" class="button"><span class="btn--text btn--text-complex">Получить консультацию</span><img src="img/arr.svg" alt=""></a>
      </div>
      </div>
    </div>
</section>
