.footer-contacts {

}

.footer-contacts__item {
  margin: 0;
  margin-bottom: 5px;
}

.footer-contacts__img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.footer-contacts__text {
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
}
