<div class="footer-contacts">
  <p class="footer-contacts__item"> <img class="footer-contacts__img" src="img/phone-footer-icon.svg" alt=""><span class="footer-contacts__text">+3 80675588555</span></p>
  <p class="footer-contacts__item"> <img class="footer-contacts__img" src="img/viber-footer-icon.svg" alt=""><span class="footer-contacts__text">+3 80675588555</span></p>
  <p class="footer-contacts__item"> <img class="footer-contacts__img" src="img/telegram-footer-icon.svg" alt=""><span class="footer-contacts__text">+3 80675588555</span></p>
  <p class="footer-contacts__item"> <img class="footer-contacts__img" src="img/whatsapp-footer-icon.svg" alt=""><span class="footer-contacts__text">+3 80675588555</span></p>
</div>
