<header class="header">
  <div class="container">
    <div class="header__top">
      @include('../logo/logo.html')
      <div class="header__info">
        @include('../lang/lang.html')
        <div class="header__contacts">
          <img class="header__contacts--img" src="img/phone-icon.svg" alt="">
          <span class="header__contacts--span">+38 (067) 679-96-15</span>
        </div>
      </div>
      @include('../burger-top/burger-top.html')
    </div>
    <div class="header__content">
      <h2 class="header__title">Цифровые продукты для <span class="color--line">твоего</span> успеха</h2>
      <p class="header__text">Обеспечение максимальной рентабельности инвестиций в вашу индивидуальную SEO-кампанию</p>
      <a href="/" class="button"><span class="btn--text">Заказать сайт</span><img src="img/arr.svg" alt=""></a>
    </div>
    <div class="header__bottom">
      <p class="header__text header__text--bottom">Закажите сайт в течении 10 минут и получите 1 месяц <span class="color--line">SEO продвижения</span> в подарок!</p>
    </div>
  </div>
</header>
