<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__logo">
        @include('../logo/logo.html')
        <h4 class="footer__title">Profi Place</h4>
      </div>
      <div class="footer__menu">
        @include('../footer-menu/footer-menu.html')
      </div>
      <div class="footer__contacts">
        @include('../footer-contacts/footer-contacts.html')
      </div>
      <div class="footer__socials">
        @include('../footer-socials/footer-socials.html')
      </div>
    </div>
    <div class="footer__bottom">
      @include('../footer-copyright/footer-copyright.html')
    </div>
  </div>
</footer>
