<section class="blog">
  <div class="container">
    <h2 class="blog__title">Блог</h2>
    <p class="blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et dictum egestas est ullamcorper. Tristique fusce et ridiculus risus facilisis purus amet. Faucibus nulla commodo iaculis orci. </p>
    <div class="blog__wrap">
      @include('../blog-item/blog-item.html')

      <div class="blog-item">
        <img src="img/blog-img-2.jpg" alt="" class="blog-item__img">
        <div class="blog-item__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="blog-item__more" href="#">Читать дальше &#62;</a>
        </div>
      </div>

      <div class="blog-item">
        <img src="img/blog-img-3.jpg" alt="" class="blog-item__img">
        <div class="blog-item__content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="blog-item__more" href="#">Читать дальше &#62;</a>
        </div>
      </div>

    </div>
  </div>
</section>
